
/* GRANI FOOTER BRAND */
.brand-footer{
  width:250px;
  height:76px;
  display:block;
  margin-bottom:20px;
  background:url('/assets/grani-logo-new.svg') left center/contain no-repeat;
}
.brand-footer>*{display:none!important}
@media(max-width:680px){.brand-footer{width:210px;height:64px}}
